.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  margin: 0;
}
.profile p {
  margin: 0.5rem;
}

h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: rgb(55, 55, 241);
}

.Header {
  text-align: center;
}
.Header h1 {
  border: none;
  color: #000;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.addr {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0;
}
.addr p {
  text-align: left;
}

.Work h4,
.Work h5,
.Work address,
.Work p {
  margin: 0.4rem;
  padding-left: 0;
}
